.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-color: #010640;
  color: #fff;
  font-weight: 600;
  
  .navbar-left {
    h1 {
      margin: 0;
      font-size: 38px;
      a {
        text-decoration: none;
        color: white;
        -webkit-text-stroke: 0.7px black;
      }
    }
  }

  .login-signup-links {
    display: flex;
  }
  
  .navbar-right {
    display: flex;
    a {
      display: flex;
      align-items: center;
      margin-right: 30px;
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
    .avatar-container {
      width: 40px;
      height: 40px;
      border-radius: 50%; // Make it circular
      background-color: black; // Add background color
      display: flex;
      justify-content: center;
      align-items: center;
      
      .avatar {
        font-size: 18px; // Adjust font size as needed
        font-weight: bold;
      }
    }
  }
}